/**************************************************\
  component-main main.scss
\**************************************************/

/// Imports
@use '../scss-partial/index.scss' as *;

/* Animation keyframes */
@keyframes slideXAnimation {   
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes slideYAnimation {   
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes backAndForthAnimation {
  0% {
    transform: translateX(-20vw);
  }
  100% {
    transform: translateX(20vw);
  }
}

/* Main base classes */
.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: darken($color: $green-main, $amount: 10%);
  transform-origin: top;
  transform: scale(0);
  transition: transform 250ms ease-in-out;
}
.hideButton,
.moreButton {
  display: block;
  border: 0.1rem solid $light-contrast;
  border-radius: 50%;
  background-color: $dark-contrast;
  color: $light-contrast;
  font-size: 4.5vmax;
  cursor: pointer;

  &:hover {
    background-color: $light-contrast;
    color: $dark-contrast;
    border-color: $dark-contrast;
  }
}
.hideButton {
  position: sticky;
  z-index: 1;
  width: 25vw;
  height: 25vw;
  top: 1rem;
  left: 5vw;
  transition: transform 250ms ease-in-out;
  
  @include landscape {
    width: 12.5vw;
    height: 12.5vw;
  }
}
.moreButton {
  width: 30vw;
  height: 30vw;
  margin: 0 0 2rem 35vw;
  transform: scale(0);
  transition: transform 250ms ease-in-out;

  @include landscape {
    width: 15vw;
    height: 15vw;
    margin-left: 42.5vw;
  }
}
.memesContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 3rem auto 2rem;

  @include width900 {
    width: 70%;
  }

  p :local {
    transform-origin: top;
    animation: slideYAnimation 500ms ease-in-out 0ms 1 normal forwards running;
  }
  
  a {
    margin: 10vh 0;
  }
  
  img :local {
    max-width: 100%;
    transform-origin: right;
    animation: slideXAnimation 500ms ease-in-out 0ms 1 normal forwards running;    
  }
  
  hr :local {
    width: 100%;
    height: 1vh;
    background-color: $light-contrast;
    transform-origin: left;
    animation: slideXAnimation 500ms ease-in-out 0ms 1 normal forwards running;        
  }
}

/* Main transition classes */
.containerShow {
  transform: scale(1);
}
.hideButtonOnScroll {
  transform: scale(0.5) translate(-20vw, -10vh);

  @include landscape {
    transform: scale(0.5) translate(-10vw, -10vh);
  }
}
.moreButtonShow {
  transform: scale(1);
}

/* Loader base classes */
.loaderMessage {
  max-width: 25rem;
  margin: 10vh 0 5vh;
  line-height: 1.5;
  text-align: center;
  color: $light-contrast;
  font-size: 1.2rem;

  @include width500 {
    font-size: 1.4rem;
  }
  @include width700 {
    font-size: 1.6rem;
  }
  @include width900 {
    font-size: 1.8rem;
  }
}
.loaderBall :local {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  background: radial-gradient(#c40000, #0000c4);
  animation: backAndForthAnimation 750ms ease-in-out 0ms infinite alternate both running;

  @include landscape {
    width: 5vw;
    height: 5vw;
  }
}
.loaderMemeImage {
  display: block;
  margin: 5vh 0 10vh;
}

/* Fetch error base classes */
.fetchErrorMessage {
  max-width: 25rem;
  margin: 10vh 0;
  line-height: 1.5;
  
  @include errorParagraph(1.2rem, 1.4rem, 1.6rem);
}
.fetchErrorImage {
  margin-bottom: 10vh;
}

/* @media prefers-reduced-motion */
@media (prefers-reduced-motion: reduce) {
  .container,
  .hideButton,
  .moreButton {
    transition: none;
  }

  .memesContainer p,
  .memesContainer img,
  .memesContainer hr,
  .loaderBall {
    animation: none;
  };

  .loaderBall {
    display: none;
  }
}