/**************************************************\
  scss-global _fonts.scss
\**************************************************/

// zilla slab highlight - 700 - latin
@font-face {
  font-family: 'Zilla Slab Highlight';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  local('Zilla Slab Highlight Bold'),
        local('ZillaSlabHighlight-Bold'),
        url('fonts/zilla-slab-highlight-v8-latin-700.woff2') format('woff2'),
        url('fonts/zilla-slab-highlight-v8-latin-700.woff') format('woff');
}