/*********************************************\ 
  reset 
\*********************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  font-family: $font-main;
}
a {
  text-decoration: none;
  color: inherit;
}
:focus {
  outline: lighten($color: $green-main, $amount: 10%) double 0.3rem;
  outline-offset: 0.5rem;
}
::-moz-focus-inner,
::-moz-focus-outer {
  border: none;
}
::selection {
  background-color: $green-main;
  color: $light-contrast;
}