//**************************************************
// scss-partial _variables.scss
//**************************************************

// Fonts
$font-main: 'Roboto', sans-serif;
$font-head: 'Zilla Slab Highlight', sans-serif;

// Colors
$green-main: #005850;
$red-error: #d62828;
$light-contrast: #d8d8d8;
$dark-contrast: #353e3d;