/*********************************************\ 
  classes
\*********************************************/
.h1-animate { @include animateOnce(750ms, h1InitialAnimation); }
.p-animate {  @include animateOnce(750ms, pInitialAnimation); }
.img-animate { @include animateOnce(750ms, imgInitialAnimation); }
.button-animate { animation: 750ms ease-in-out 750ms 5 normal backwards running rippleAnimation; }

/*********************************************\ 
  landing section
\*********************************************/
header {
  position: fixed;
  height: 100vh;
  width: 100vw;
  padding: 1.5rem 1rem 0;
  overflow: hidden;

  h1 pre {
    font-size: 3.5rem;
    font-family: $font-head;
    color: $green-main;

    @include width500 { font-size: 3.8rem; }
    @include width600 { font-size: 4.3rem; }
    @include width700 { font-size: 5rem; }
    @include width800 { font-size: 5.5rem; }
    @include width900 { font-size: 6rem; }
    @include width1000 { font-size: 6.5rem; }
    @include width1100 { font-size: 7rem; }
    @include width1200 { font-size: 7.5rem; }
    @include width1300 { font-size: 8rem; }
  }
  
  p { 
    position: absolute;
    top: 1.5rem;
    right: 1rem;   
    font-size: 1.5rem;
    color: $green-main;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 0.1rem;

    @include height600 { font-size: 1.6rem; }
    @include height650 { font-size: 1.8rem; }
    @include height700 { font-size: 1.95rem; }
    @include height750 { font-size: 2.1rem; }
    @include height800 { font-size: 2.25rem; }
    @include height850 { font-size: 2.45rem; }
    @include height900 { font-size: 2.55rem; }
    @include height950 { font-size: 2.75rem; }
    @include height1000 { font-size: 2.9rem; }
  }

  img {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 50vw;

    @include landscape { width: 30vw; }
  }
  
  button {
    position: absolute;
    left: 40vw;
    bottom: 35vh;
    width: 5rem;
    height: 5rem;
    border: 0.5rem solid $green-main;
    border-radius: 50%;
    background-color: $green-main;
    font-size: 0.9rem;
    color: $light-contrast;
    cursor: pointer;
    transition: transform 750ms ease-in-out;

    &:hover {
      color: $dark-contrast;
      background-color: $light-contrast;
      border-color: $light-contrast;
    }

    &:active {
      border-color: $green-main;
    }

    @include width500 { 
      width: 6rem;
      height: 6rem;
    }
    @include width600 { 
      width: 7rem;
      height: 7rem;
    }
    @include width700 { 
      left: 50vw;
      bottom: 50vh;
      width: 8rem;
      height: 8rem;
      font-size: 1rem;
    }
    @include width800 { 
      width: 9rem;
      height: 9rem;
      font-size: 1.1rem;
    }
    @include width900 { 
      width: 10rem;
      height: 10rem;
      font-size: 1.3rem;
    }
    @include width1000 { 
      width: 11rem;
      height: 11rem;
      border-width: 1rem;
    }
    @include width1100 { 
      width: 12rem;
      height: 12rem;
      font-size: 1.5rem;
    }
    @include width1200 { 
      width: 13rem;
      height: 13rem;
    }
    @include width1300 { 
      width: 14rem;
      height: 14rem;
      font-size: 1.7rem;
    }

    @include landscape {
      left: 50vw;
      bottom: 25vh;
    }
  }
}

/*********************************************\ 
  prefers reduced motion
\*********************************************/
@media (prefers-reduced-motion: reduce) {
  .h1-animate, 
  .p-animate,
  .img-animate,
  .button-animate {
    animation: none;
  };
}